<div class="container">
  <div class="row mt-5">
    <div class="col-md-5">
      <tabset class="member-tabset">
        <tab heading="Search">
          <ul *ngFor="let event of events" class="list-group">
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="['/events/', event.id]"
              > <strong>{{ event?.name }}</strong>, {{ event.placeId }}
              <button class="btn btn-primary">
                <i class="fa fa-plus"></i>
              </button>
            </a>
          </ul>
        </tab>
        <tab heading="Upcoming"> </tab> <tab heading="Create"> </tab>
      </tabset>
    </div>
    <div class="col-md-7">
      <h5>Places</h5>
      <hr>
        <ul *ngFor="let place of places" class="list-group">
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="['/places/', place.id]"
              > <strong>{{ place.name }}</strong>, {{ place.fieldSize }}
              <button class="btn btn-primary">
                <i class="fa fa-plus"></i>
              </button>
            </a>
          </ul>
    </div>
  </div>
</div>
